<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clarity.ipmsbackend.mapper.IpmsCustomerMapper">

    <resultMap id="BaseResultMap" type="com.clarity.ipmsbackend.model.entity.IpmsCustomer">
            <id property="customerId" column="customer_id" jdbcType="BIGINT"/>
            <result property="customerCode" column="customer_code" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="customerType" column="customer_type" jdbcType="VARCHAR"/>
            <result property="enterpriseReceiveBalance" column="enterprise_receive_balance" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        customer_id,customer_code,customer_name,
        customer_type,enterprise_receive_balance,create_time,
        update_time,is_delete
    </sql>
</mapper>
