<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clarity.ipmsbackend.mapper.IpmsProductInventoryMapper">

    <resultMap id="BaseResultMap" type="com.clarity.ipmsbackend.model.entity.IpmsProductInventory">
            <id property="productInventoryId" column="product_inventory_id" jdbcType="BIGINT"/>
            <result property="warehouseId" column="warehouse_id" jdbcType="BIGINT"/>
            <result property="warehousePositionId" column="warehouse_position_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="productInventorySurplusNum" column="product_inventory_surplus_num" jdbcType="DECIMAL"/>
            <result property="productInventoryUnitCost" column="product_inventory_unit_cost" jdbcType="DECIMAL"/>
            <result property="productUnitCost" column="product_unit_cost" jdbcType="DECIMAL"/>
            <result property="productInventoryCost" column="product_inventory_cost" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_inventory_id,warehouse_id,warehouse_position_id,
        product_id,product_inventory_surplus_num,product_inventory_unit_cost,
        product_unit_cost,product_inventory_cost,create_time,
        update_time,is_delete
    </sql>
    <select id="selectProductInventory"
            resultType="com.clarity.ipmsbackend.model.vo.inventory.ProductInventoryQueryVO">
        select ipms_product.product_code, ipms_product.product_name, ipms_product.product_specification,
               ipms_warehouse.warehouse_name, ipms_product_inventory.warehouse_position_id, ipms_product.unit_id,
               ipms_product_inventory.product_inventory_surplus_num, ipms_product_inventory.product_inventory_unit_cost, ipms_product_inventory.product_inventory_cost
        from ipms_product_inventory
                 inner join ipms_product on ipms_product.product_id = ipms_product_inventory.product_id
                 inner join ipms_warehouse on ipms_warehouse.warehouse_id = ipms_product_inventory.warehouse_id
        where ipms_product.is_delete = 0 and ipms_warehouse.is_delete = 0 and ipms_product_inventory.is_delete = 0
                  and ipms_product.product_code like'%' #{fuzzyText} '%' or ipms_product.product_name like '%' #{fuzzyText} '%'
                  or ipms_product.product_specification like'%' #{fuzzyText} '%' or ipms_warehouse.warehouse_name like'%' #{fuzzyText} '%';
    </select>
</mapper>
